# Application
NAME=SmartParking
VERSION=0.0.1
ERRORS=./config/errors.ini
LAUNCH_SCREEN=true

# Static files
STATIC__ROOT=bucket
STATIC__PATH=/bucket

# Database
DB__DSN=

# Storage
STORAGE__URL=

# Basic Auth
DOCS__ENABLED=true
DOCS__USERNAME=
DOCS__PASSWORD=
DOCS__URL_PREFIX=

# Firebase
FIREBASE__KIND=
FIREBASE__PROJECT_ID=
FIREBASE__NAME=
FIREBASE__API_KEY=
FIREBASE__CREDENTIAL=

