{% load widget_tweaks %}

<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2 class="title text-center text-uppercase">{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}

    {% for line in fieldset %}
        <div class="row">
            <div class="{% if line.fields.0 in 'last_login, date_joined' %}col-md-6{% else %}col-md-12{% endif %} mt-2">
                {% for field in line %}
                    {% if field %}
                        {% if not line.fields and not field.is_readonly %}
                            {{ field.errors }}
                        {% endif %}

                        {% if field.is_checkbox %}
                            <div class="form-check mt-2 form-group d-flex flex-row gap-3" style="padding-left: 0;">
                                {{ field.label_tag}}
                                {{ field.field|add_class:"form-check-input ml-3" }}
                            </div>
                        {% else %}
                            {% if field.label_tag %}
                                {{ field.label_tag }}
                            {% endif %}
                            
                            {% if field.is_readonly %}
                                <div class="readonly">{{ field.contents }}</div>
                            {% else %}
                                {{ field.field }} {#<i class="fa fa-plus"></i>#}
                            {% endif %}
                        {% endif %}

                        {% if field.field.help_text %}
                            <div class="help">{{ field.field.help_text|safe }}</div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</fieldset>
